@import 'include-media/dist/include-media';
@import '../../assets/styles/variables';

.contentSection {
  padding: 40px 0;
  position: relative;

  @include media(">=tablet") {
    padding: 70px 0 0;
  }

  @include media(">=desktop") {
    padding: 90px 0 0;
  }

  @include media(">=laptop") {
    padding: 109px 0 0;
  }

  &:last-child {
    padding: 40px 0;

    @include media(">=tablet") {
      padding: 70px 0;
    }

    @include media(">=desktop") {
      padding: 90px 0;
    }

    @include media(">=laptop") {
      padding: 109px 0 113px;
    }
  }

  .containerMd {
    @extend .container;
    max-width: calc(1024px + 60px);
    position: relative;

    @include media(">=tablet") {
      max-width: calc(1024px + 240px);
      padding-left: 120px;
      padding-right: 120px;
    }

    @include media(">=laptop") {
      max-width: calc(1024px + 380px);
      padding-right: 190px;
      padding-left: 190px;
    }
  }

  &.fzBase {
    font-size: 18px;
    line-height: 1.6;

    p {
      margin-bottom: 18px;
    }
  }

  h4 {
    font-weight: 400;
  }

  p+h3 {
    padding-top: 42px;
  }
}