@import 'include-media/dist/include-media';
@import '../../assets/styles/variables';

.joinSection {
  background: linear-gradient(81.12deg, #C70361 9.64%, #2A2745 88.74%);
  box-shadow: 0 0 80px 0 rgba(#0C0A2B, 0.08);
  color: $white;
  padding: 90px 0;

  @include media(">=tablet") {
    padding: 120px 0;
  }

  @include media(">=laptop") {
    padding: 180px 0;
  }

  @include media(">=widescreen") {
    padding: 217px 0 225px;
  }

  
  &.textCenter {
    text-align: center;
    
    @include media(">=laptop") {
      padding: 167px 0 166px;
    }
  }
  
  h3 {
    margin-bottom: 34px;
  }
}

.container {
  @extend .container;
  max-width: 1120px;

  @include media(">=tablet") {
    max-width: 500px;
  }

  @include media(">=desktop") {
    max-width: 700px;
  }

  @include media(">=laptop") {
    max-width: 1136px;
  }
}